<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Nginx, via Ansible</title>
</head>
<body>
    <h1>Nginx, configured via Ansible</h1>
    <p>If you can see this, it means Ansible successfully installed Nginx</p>
    <p>Running on {{inventory_hostname}}</p>
</body>
</html>